<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>horizontal02</title>
    <style>
        /*margin + table(不定宽)*/

        .parent {
            background-color: #eeeeee;
        }

        .child {
            display: table;
            margin: 0 auto;
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">margin + table(不定宽)</div>
    </div>
</body>

</html>