<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>horizontal04</title>
    <style>
        /*absolute + margin-left*/

        .parent {
            position: relative;
            background-color: #eeeeee;
        }

        .child {
            position: absolute;
            left: 50%;
            width: 200px;
            margin-left: -100px;
            background-color: #dddddd;
        }
    </style>
</head>

<body>
    <div class="parent">
        <div class="child">absolute + margin-left</div>
    </div>
</body>

</html>